 <!-- Navbar Section -->
 <header id="navbar" class="navbar" data-aos="fade-in" data-aos-duration="2000">
    <nav class="navbar navbar-expand-lg navbar-light sticky-navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="/"><span>TSA NEWS</span></a>
            </div>
            <!-- Navbar Menu -->
            <nav class="navbar-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/magazine">News</a></li>
                    <li><a href="/trending">Trending</a></li>
                    <li><a href="/confess">Confess</a></li>
                    <li><a href="/confessions">Confessions</a></li>
                    <li><a href="/about">about</a></li>
    
                </ul>
            </nav>
            <!-- Hamburger Toggle Button -->
            <button class="hamburger" id="hamburger-toggle" aria-label="Open Menu">&#9776;</button>
        </div>
    </nav>
</header>

<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <h3 class="text-white">TSA NEWS</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/magazine">News</a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/confess">Confess</a></li>
            <li><a href="/confessions">Confessions</a></li>
            <li><a href="/about">about</a></li>
        </ul>
    </div>
    <!-- Close button inside sidebar -->
    <span id="sidebar-close">&times;</span>
</div>